<div class="heading">CITY WEATHER FORCAST APP</div>
<div class="mainContainer">
    <div class="cityContainer">
        <label>Append cities in below box >>></label>
        <select multiple="multiple" id="CityOptions1" hidden="">
            <input name="tags" id="tags" value=""  />
        </select>
        <div class="CitySelectionErr">!Please add min 1 city</div>
    </div>
    <div class="BtnContainer">
        <div class="btn" id="ShowWetherInfo">Show Weather</div><br>
        <div class="btn" id="MycityWeather">My City Weather<br>(GPS Based)</div>
    </div>
    <div class="weatherInfoContainer"></div>
</div>
